<p>Hi, and welcome to the website of the band “Fusion”.</p>
<p>We are a fusion of talented and experienced musicians who have a professional attitude but also like to have fun.</p>
<p>We can entertain audiences young and old with a cross-section of rock and pop music from the 1950s to the present day, and uniquely, a full range of Scottish dances.</p>
<p>With over 20 years of experience in the music industry in the north of Scotland, you can be safely assured that Fusion will make your event that little bit more special.</p>
<p>Fusion enquiries and bookings should be made via <a target="_blank" [href]="eliteUrl">Elite Promotions</a>.</p>
<p>Thanks,</p>
<p>Fusion</p>